# ðŸ§¼ Titanic Dataset - EDA & Data Cleaning

This notebook contains data cleaning and exploratory data analysis (EDA) of the Titanic dataset from Kaggle.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('train.csv')
print(df.head())

In [ ]:
# Descriptive statistics
print(df.describe())

In [ ]:
# Check and drop duplicate rows
print(f"Total Duplicate Rows: {df.duplicated().sum()}")
print(df.drop_duplicates())

In [ ]:
# Check missing values
print(df.isnull().sum())

In [ ]:
# Drop 'Cabin' due to high null values
print(df.drop(columns=['Cabin']))

# Fill missing 'Age' with median
print(df['Age'].fillna(df['Age'].median()))

# Fill missing 'Embarked' with mode (STRINGS)
print(df['Embarked'].fillna(df['Embarked'].mode()))

# Check again for nulls
df.isnull().sum()

In [ ]:
# Plot survival by gender
sns.countplot(x='Sex', hue='Survived', data=df)
plt.title("Survival by Gender")
plt.show()

In [ ]:
sns.countplot(data=df, x='Pclass', hue='Survived')
plt.title("Passenger Class and Survival")
plt.show()